<div class="header">

</div>

<div class="main">
    <div class="row">
        <div class="col-sm-4 fadeInUp" >
            <div class="circle red" id="company-bt"><i class="fa fa-building-o"></i></div>
            <h4>企業 Company</h4>
            <p>Amplify Global South countries crowdsourcing poverty, dedicated social innovation sanitation expanding community.</p>
        </div>

        <div class="col-sm-4 fadeInUp" >
            <h4>商品 Product</h4>
            <p>Honor progress accelerate save the world planned giving, outcomes vulnerable population criteria results employment.</p>
            <div class="circle green top-28" id="product-bt" ><i class="fa fa-cutlery"></i></div>
        </div>

        <div class="col-sm-4 fadeInUp" >
            <div class="circle orange" id="news-bt"><i class="fa fa-newspaper-o"></i></div>
            <h4>新聞 News</h4>
            <p>Conflict resolution raise awareness transform the world truth protect nonviolent resistance stakeholders approach.</p>
        </div>
    </div>
</div>
