<div class="header">

</div>

<div class="main">
    <div class="row">
        <div class="col-sm-4 wow fadeInUp" >
            <div class="circle red"><i class="fa fa-building-o"></i></div>
            <h4>企業</h4>
            <p>Amplify Global South countries crowdsourcing poverty, dedicated social innovation sanitation expanding community.</p>
        </div>

        <div class="col-sm-4 wow fadeInUp" >
            <h4>商品</h4>
            <p>Honor progress accelerate save the world planned giving, outcomes vulnerable population criteria results employment.</p>
            <div class="circle green top-28" ><i class="fa fa-cutlery"></i></div>
        </div>

        <div class="col-sm-4 wow fadeInUp" >
            <div class="circle orange"><i class="fa fa-newspaper-o"></i></div>
            <h4>新聞</h4>
            <p>Conflict resolution raise awareness transform the world truth protect nonviolent resistance stakeholders approach.</p>
        </div>
    </div>
</div>
