<p></p>
<div class="header">
  <div id="logo"></div>
  <div class="title"></div>
</div>

<div class="main">
    <div class="row">
        <div class="col-sm-4 fadeInUp" >
            <div class="circle red" id="company-bt"><i class="fa fa-building-o"></i></div>
            <h4>企業 Company</h4>
            <p>
              在眾所皆知的最大禍首 - 頂新企業集團，旗下究竟有哪些數著黑心錢的企業呢？
            </p>
        </div>

        <div class="col-sm-4 fadeInUp" >
            <h4>商品 Product</h4>
            <p>
              牛奶牛奶倒光光！！！除了我們熟知林鳳營鮮乳外，還有哪些商品是利用民眾的生活所需而獲取利益的呢？
            </p>
            <div class="circle green top-28" id="product-bt" ><i class="fa fa-cutlery"></i></div>
        </div>

        <div class="col-sm-4 fadeInUp" >
            <div class="circle orange" id="news-bt"><i class="fa fa-newspaper-o"></i></div>
            <h4>新聞 News</h4>
            <p>
              除了秒買秒退、頂新無罪的熱門媒體消息外，還有哪些是跟黑心商品有關的新聞？
            </p>
        </div>
    </div>
</div>
