<p id="notice"><%= notice %></p>

<div class="header">
  <div id="logo"></div>
  <div class="title"></div>
  <div class="navbar">
    <div class="line-box">
      <button class="btn btn-default active" type="submit" id="company-bt">企業 Company</button>
      <button class="btn btn-default" type="submit" id="product-bt">商品 Product</button>
      <button class="btn btn-default" type="submit" id="news-bt">新聞 News</button>
    </div>
  </div>
</div>

<div id="company-contents">
  <% @companies.each do |company| %>
  <div class="company-box">
    <div class="name-box">
      <%= company.name %>
    </div>
    <div class="logo-box">
      <div class="img-div">
        <%= image_tag company.logo.prod_min_img %>
      </div>

    </div>
    <div class="ceo-box">
      <%= company.ceo %>
    </div>
  </div>
  <% end %>
</div>
