/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
html, body {
  // background-repeat: repeat;
  // background-image: image-url("bg.png");
  height: 100%;
}
#logo {
  height: 60px;
  width: 150px;
  float: left;
  background-image: image-url("LOGO.png");
}
#logo:hover {
  cursor: pointer;
}
.title {
  width: 535px;
  height: 69px;
  float: left;
  background-image: image-url("title.png");
}
.navbar {
  padding-left: 150px;
  width: 100%;
  display: inline-block;
  .line-box {
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    .btn {
      margin-right: 10px;
    }
  }
  .active {
    font-weight: bolder;
  }
}
#main {
  padding-bottom: 150px;
}
#wrapper-out {
  min-height: 100%;
  position: relative;
}
#footer {
  height: 150px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: image-url("floor.png");
  background-size: 100% 100%;
  .flip-img {
    height: 150px;
    width: 150px;
    position: relative;
    float: right;
    right: 40px;
  }
  .img-front {
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: image-url("angel.png");
    background-size: contain;
    background-repeat: no-repeat;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
		transition:all .5s;
		-webkit-transition:all .5s;
  }
  .img-back {
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: image-url("evil.png");
    background-size: contain;
    background-repeat: no-repeat;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
		transition:all .5s;
		transform:perspective(1000px)rotateY(180deg);
		-webkit-transition:all .5s;
		-webkit-transform:perspective(1000px)rotateY(180deg);
  }
  .flip-img:hover .img-front {
		transform:perspective(1000px)rotateY(180deg);
		-webkit-transform:perspective(1000px)rotateY(180deg);
	}
	.flip-img:hover .img-back {
		transform:perspective(1000px)rotateY(360deg);
		-webkit-transform:perspective(1000px)rotateY(360deg);
	}
  .pudding-img {
    position: relative;
    background-image: image-url("pudding.png");
    background-size: contain;
    width: 100px;
    height: 100px;
    float: right;
    right: 300px;
    top: 40px;
    animation: pudding-move 2s linear infinite;
  }
  @keyframes pudding-move {
    0%{transform:translate(0,0);}
    30%{transform:translate(20px,-10px);}
    60%{transform:translate(-10px,-5px);}
    100%{transform:translate(0,0);}
  }
  .c-img {
    position: relative;
    background-image: image-url("c.png");
    background-size: contain;
    width: 80px;
    height: 140px;
    float: right;
    right: 600px;
    top: 0px;
    animation: c-move 2s linear infinite;
  }
  @keyframes c-move {
    0%{transform:translate(0,0);}
    25%{transform:translate(-15px,-15px);}
    43%{transform:translate(5px,-3px);}
    76%{transform:translate(10px,8px);}
    100%{transform:translate(0,0);}
  }
  .tree-img {
    position: relative;
    background-image: image-url("tree.png");
    background-size: contain;
    width: 150px;
    height: 70px;
    float: right;
    right: 750px;
    top: 60px;
  }
}
