// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#company-contents {
  padding-top: 10px;
  width: 1000px;
  .company-box {
    width: 250px;
    height: 170px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    float: left;
    .name-box {
      width: 100%;
      height: 17px;
    }
    .logo-box {
      width: 100%;
      height: 136px;
      line-height: 136px;
      overflow-y: hidden;
      img {
        vertical-align: middle;
      }
    }
    .ceo-box {
      color: #d15c5c;
      width: 100%;
      height: 17px;
    }
  }
}
