// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-contents {
  padding-top: 10px;
  width: 1000px;
  .product-box {
    width: 250px;
    height: 200px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    float: left;
      .img-box {
        width: 100%;
        height: 80%;
      }
      .text-box {
        color: #d15c5c;
        width: 100%;
        height: 20%;
      }
  }
}
